{
  "presets": [
    "@babel/typescript",
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-add-react-displayname",
    "babel-plugin-styled-components",
    "lodash",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "extensions": [".ts", ".tsx"],
        "root": ["./src"]
      }
    ]
  ]
}
